<div class="footer_content text-white" #phoneApp>
  <div class="row text-white">
    <div class="col-md-6 text-left mt-5 footer_left">
      <p class="display-4 textLeft">Ứng dụng tiện lợi dành cho</p>
      <p class=" display-4 textLeft">người yêu điện ảnh</p>
      <p class="display-4 textSmallLeft pt-3">Không chỉ đặt vé, bạn còn có thể bình luận phim, chấm <br> điểm rạp và đổi
        quà hấp
        dẫn.</p>
      <button class="display-4 btn mt-4 button">App miễn phí - Tải về ngay</button>
      <p class="display-4 textAppUnder mt-4">Galaxy Cinema có hai phiên bản
        <a class="tagA " target="_blank"
          href="https://itunes.apple.com/us/app/123phim-mua-ve-lien-tay-chon/id615186197?mt=8">iOS</a>
        &amp;&nbsp;<a class="tagA" target="_blank"
          href="https://play.google.com/store/apps/details?id=vn.com.vng.phim123">Android</a>
      </p>
    </div>


    <div class="col-md-6 footer__app ">
      <div class="footer__img">
        <img src="./../../../../assets/images/footer_app.png" alt="">
      </div>
      <div class="margin_footer mb-5"></div>
    </div>
  </div>

</div>