@import "../../../../../scss/style.scss";
.ghe {
  background-color: gray;
  margin: 5px;
  color: rgb(250, 93, 65);
  width: 50px;
  border: 1px solid rgb(250, 93, 65);
  background-color: white;
}

.gheDaDat {
  background-color: rgb(187, 13, 13);
  cursor: no-drop;
  color: rgb(197, 195, 193);
}
.gheDangChon {
  background-color: rgb(250, 93, 65);
  border: 1px solid white;
  color: white;
}
