<div class="row khuyenmai">
    <div class="col-md-6">
        <img class="mb-2" src="./../../../../assets/images/khuyenmai_1.jpg" alt="">
        <a class="Title display-4 " href="https://123phim.vn/khuyen-mai/7750-39k-ve-cinestar-thu-7-cuc-da">
          39k/vé CineStar - Thứ 7 Cực Đã
        </a>
        <p class="newsTitle mt-2 ">Tận hưởng bom tấn cuối tuần với giá chỉ 39k</p>
        <div class="row icon">
            <img class="mb-2 icon__img" src="./../../../../assets/images/like.png" alt="">
            <p class="pr-2">0</p>
            <img class="mb-2 icon__img" src="./../../../../assets/images/comment.png" alt="">
            <p>0</p>
    </div>

    </div>
    <div class="col-md-6">
        <img class="mb-2" src="./../../../../assets/images/khuyenmai_2.jpg" alt="">
        <a class="Title display-4 " href="https://123phim.vn/khuyen-mai/7746-69k-ve-bhd-star-dong-gia-moi-ngay">
          69k/vé BHD Star - Đồng giá mỗi ngày
        </a>
        <p class="newsTitle mt-2 ">Xem phim chill với giá chill gấp bội.</p>
        <div class="row icon">
            <img class="mb-2 icon__img" src="./../../../../assets/images/like.png" alt="">
            <p class="pr-2">0</p>
            <img class="mb-2 icon__img" src="./../../../../assets/images/comment.png" alt="">
            <p>0</p>
    </div>

    </div>
</div>