<div class="footer__content">
  <div class="row ">
    <div class="col-md-4 content__manage">
      <div class="col-md-6 manage_left text-left mt-3">
        <img src="../../../../assets/images/logo.png" alt="Logo" style="width:40px; margin-bottom: 10px;"> <br>
        <a class="title  my-5" href="#">FAQ</a> <br>
        <a class="title " href="#">Brand Guidelines</a>
      </div>
      <div class="col-md-6 manage_right mr-3 ">
        <a href="#">Thỏa thuận sử dụng</a> <br>
        <a href="#">Quy chế hoạt động</a> <br>
        <a href="#">Chính sách bảo mật</a> <br>
        <a href="#">Quyền lợi thành viên</a> <br>
      </div>
    </div>

    <div class="col-md-4 content__contact">
      <p class="title mt-4">ĐỐI TÁC</p>
      <div class="row col-sm-12 col-xs-12 linePartner contact__icon">
        <a target="_blank" href="http://bhdstar.vn" title="BHD">
          <img class="iconConnect" src="../../../../assets/images/bhd.png">
        </a>
        <a target="_blank" href="http://galaxycine.vn" title="Galaxy">
          <img class="iconConnect" src="../../../../assets/images/web-logo.png">
        </a>
        <a target="_blank" href="http://cinestar.com.vn" title="Cinestar">
          <img class="iconConnect" src="../../../../assets/images/cinestar.png">
        </a>
        <a target="_blank" href="http://lottecinemavn.com" title="Lotte Cinema">
          <img class="iconConnect" src="../../../../assets/images/lotte.png">
        </a>
        <a target="_blank" href="https://www.megagscinemas.vn" title="MegaGS">
          <img class="iconConnect" src="../../../../assets/images/megags.png">
        </a>
      </div>

      <div class="row col-sm-12 col-xs-12 linePartner my-3">
        <a target="_blank" href="https://www.betacineplex.vn/" title="Beta">
          <img class="iconConnect" src="../../../../assets/images/bt.jpg">
        </a>
        <a target="_blank" href="http://ddcinema.vn" title="DDC">
          <img class="iconConnect" src="../../../../assets/images/dongdacinema.png">
        </a>
        <a target="_blank" href="https://touchcinema.com/" title="Touch Cinema">
          <img class="iconConnect" src="../../../../assets/images/TOUCH.png">
        </a>
        <a target="_blank" href="https://cinemaxvn.com/" title="Cinemax">
          <img class="iconConnect" src="../../../../assets/images/cinebox-ly-chinh-thang-15380197315333.png">
        </a>
        <a target="_blank" href="http://starlight.vn/" title="Starlight">
          <img class="iconConnect" src="../../../../assets/images/STARLIGHT.png">
        </a>
      </div>

      <div class="row col-sm-12 col-xs-12 linePartner my-3">
        <a target="_blank" href="https://momo.vn" title="MoMo">
          <img class="iconConnect" src="../../../../assets/images/momo.png">
        </a>
        <a target="_blank" href="https://zalopay.vn/" title="ZaloPay">
          <img class="iconConnect" src="../../../../assets/images/zalo-logo.png">
        </a>
        <a target="_blank" href="https://www.payoo.vn/" title="Payoo">
          <img class="iconConnect" src="../../../../assets/images/payoo.jpg">
        </a>

        <a target="_blank" href="https://www.vietcombank.com.vn/" title="Vietcombank">
          <img class="iconConnect" src="../../../../assets/images/VIETTINBANK.png">
        </a>
        <a target="_blank" href="http://www.agribank.com.vn/" title="Agribank">
          <img class="iconConnect" src="../../../../assets/images/AGRIBANK.png">
        </a>
      </div>

      <div class="row col-sm-12 col-xs-12 linePartner mb-3">
        <a target="_blank" href="https://www.vietinbank.vn/" title="Vietinbank">
          <img class="iconConnect" src="../../../../assets/images/vng-icon.png">
        </a>
        <a target="_blank" href="https://www.indovinabank.com.vn/" title="IVB">
          <img class="iconConnect" src="../../../../assets/images/IVB.png">
        </a>
        <a target="_blank" href="http://123go.vn" title="123Go">
          <img class="iconConnect" src="../../../../assets/images/123go.png">
        </a>
        <a target="_blank" href="http://laban.vn" title="La Bàn">
          <img class="iconConnect" src="../../../../assets/images/laban.png">
        </a>
      </div>




    </div>



    <div class="col-md-4 content__app">
      <div class="row">
        <div class="col-md-6 col-xs-6 hideOnMobile textCenter">
          <p class="title mt-4">MOBILE APP</p>
          <a target="_blank" href="https://itunes.apple.com/vn/app/123phim-gioi-phim-tren-au/id615186197?mt=8"
            title="Apple App">
            <img class="iconApp mr-4 icon_social" src="../../../../assets/images/apple-logo.png">
          </a>
          <a target="_blank" href="https://play.google.com/store/apps/details?id=vn.com.vng.phim123"
            title="Android App">
            <img class="iconApp icon_social " src="../../../../assets/images/android-logo.png">
          </a>
        </div>
        <div class="col-md-6 col-xs-6 textCenter">
          <p class="title hideOnMobile  mt-4">SOCIAL</p>
          <a target="_blank" href="https://www.facebook.com/123phim/" title="Facebook social">
            <img class="iconApp mr-3" src="../../../../assets/images/facebook-logo.png">
          </a>
          <a target="_blank" href="http://zalo.me/123phim" title="Zalo social">
            <img class="iconApp" src="../../../../assets/images/zalo-logo.png">
          </a><br>
          <a target="_blank" href="http://zalo.me/123phim" title="Zalo social">
            <img class="iconApp iconApp_tw mt-3" src="../../../../assets/images/tw.jpg">
          </a>


        </div>
      </div>
    </div>


  </div>

  <hr class="hrFooter">

  <div class="row">
    <div class="col-sm-9 col-xs-12 col-md-10 infoFooter mb-3">
      <p class="footer__slogan">MOVIE_WEB – SẢN PHẨM CỦA CÔNG TY CỔ PHẦN MỘT THÀNH VIÊN TẠI CYBERSOFT</p>

      <p class="footer_ins">Địa chỉ: 12 Nguyễn Văn Bảo, Phường 4, Gò Vấp, Thành phố Hồ Chí Minh</p>
      <p class="footer_ins">Mã số thuế: 0101659783</p>
      <span class="footer_ins">Email: lam.tanloc09@gmail.com </span>
      <span  class="footer_ins">| Số điện thoại: 0969 78 78 29</span>
    </div>
    <div class="col-sm-3 col-xs-12 col-md-2 imgFooter">
      <a target="_blank" href="http://online.gov.vn/HomePage/CustomWebsiteDisplay.aspx?DocId=55561"
        title="Bộ Công Thương">
        <img class="imgBoCo" src="../../../../assets/images/boco.png">
      </a>

    </div>

  </div>

</div>