<ng-container *ngIf="phim !== null">
    <div class="card mt-5 mb-4">
        <div class="item">
            <div class="showing__item">

                <img class="card-img-top" [src]="phim.HinhAnh" alt="">
                <div class="content_item">
                    <div class="div_name"> <span class="display-4 name ">{{phim.TenPhim}}</span></div>

                    <span class="display-4  ngayKhoiChieu">Ngày khởi chiếu:
                        {{phim.NgayKhoiChieu | date : "dd - MM - yyyy"}}</span>

                </div>

            </div>
            <div class="blur">
                <div class="showing__content">
                    <div class="play">
                        <i class="fa fa-play" (click)="xemTrailer()" data-toggle="modal" data-target="#myModal"></i>
                    </div>
                </div>
                <div class="content_btn">
                    <button class="btn display-4 form-control btn_xemChiTiet" (click)="xemChiTiet()">Xem chi
                        tiết</button>

                </div>
            </div>

        </div>

    </div>
</ng-container>