<div class="row tintuc">

    <div class="col-md-6">
        <img class="mb-2" src="./../../../../assets/images/tintuc_nguoituyet.jpg" alt="">
        <a class="Title display-4 " href="http://maskonline.vn/dreamwork-gioi-thieu-phim-ve-nguoi-tuyet-yeti/">
            Người tuyết Yeti chưa bao giờ dễ thương như thế trong Everest: Người Tuyết
            Bé Nhỏ
        </a>
        <p class="newsTitle mt-2 ">Người tuyết Yeti (Tựa gốc: Abominable) chưa bao giờ dễ thương như thế trong Everest:
            Người Tuyết Bé
            Nhỏ</p>
            <div class="row icon">
                    <img class="mb-2 icon__img" src="./../../../../assets/images/like.png" alt="">
                    <p class="pr-2">0</p>
                    <img class="mb-2 icon__img" src="./../../../../assets/images/comment.png" alt="">
                    <p>0</p>
            </div>

    </div>
    <div class="col-md-6">
        <img class="mb-2" src="./../../../../assets/images/tintuc_annabelle.png" alt="">
        <a class="Title display-4 "
            href="https://123phim.vn/review/7759-annabelle-ac-quy-tro-ve-chi-beo-da-tro-lai-va-loi-hai-hon-gap-tram-lan">
            Annabelle: Ác Quỷ Trở Về - 'Chị Beo' đã trở lại và lợi hại hơn gấp trăm lần sẽ tiếp tục chiếu tại VN vào
            26.6 tới.
        </a>
        <p class="newsTitle mt-2 ">Lần đầu tiên xuất hiện trong The Conjuring (2013), búp bê ma Annabelle đã gieo rắc
            những cơn ác mộng kinh hoàng cho khán giả</p>
            <div class="row icon">
                    <img class="mb-2 icon__img" src="./../../../../assets/images/like.png" alt="">
                    <p class="pr-2">0</p>
                    <img class="mb-2 icon__img" src="./../../../../assets/images/comment.png" alt="">
                    <p>0</p>
            </div>


    </div>

</div>
<div class="container">
    <div class="hr"></div>
</div>
<div class="row tintuc mt-3">

    <div class="col-md-4">
        <img class="mb-2" src="./../../../../assets/images/tintuc_dog.jpg" alt="">
        <a class="Title display-4 "
            href="https://123phim.vn/goc-dien-anh/7745-4-cai-ten-nao-se-mang-den-bat-ngo-cho-khan-gia-nhi-vao-nua-cuoi-nam-2019">
            4 cái tên nào sẽ mang đến bất ngờ cho khán giả 'nhí' vào nửa cuối năm 2019?
        </a>
        <p class="newsTitle mt-2 ">Hãy cùng điểm mặt những tác phẩm không thể bỏ lỡ dành cho khán giả ở mọi lứa tuổi
            được ấn định ra rạp vào nửa cuối năm 2019 này nhé!</p>
            <div class="row icon">
                    <img class="mb-2 icon__img" src="./../../../../assets/images/like.png" alt="">
                    <p class="pr-2">0</p>
                    <img class="mb-2 icon__img" src="./../../../../assets/images/comment.png" alt="">
                    <p>0</p>
            </div>
    </div>
    <div class="col-md-4">
        <img class="mb-2" src="./../../../../assets/images/tintuc_person.jpg" alt="">
        <a class="Title display-4 "
            href="https://123phim.vn/goc-dien-anh/7745-4-cai-ten-nao-se-mang-den-bat-ngo-cho-khan-gia-nhi-vao-nua-cuoi-nam-2019">
            Toy Story 4 - Cả bầu trời kí ức tuổi thơ bỗng chốc thu bé lại bằng một bộ phim
        </a>
        <p class="newsTitle mt-2 ">Gắn bó với tuổi thơ của hàng triệu thế hệ khán giả trên thế giới, Toy Story đã trở
            lại với một chuyến phiêu lưu mới và những bài học ý nghĩa cũ không phai nhòa theo năm tháng.</p>
            <div class="row icon">
                    <img class="mb-2 icon__img" src="./../../../../assets/images/like.png" alt="">
                    <p class="pr-2">0</p>
                    <img class="mb-2 icon__img" src="./../../../../assets/images/comment.png" alt="">
                    <p>0</p>
            </div>
    </div>
    <div class="col-md-4">
        <img class="mb-2" src="./../../../../assets/images/tintuc_godzilla.jpg" alt="">
        <a class="Title display-4 " href="https://123phim.vn/goc-dien-anh/7751-godzilla-va-nhung-dieu-ban-chua-biet-p2">
            Godzilla và những điều bạn chưa biết (P2)
        </a>
        <p class="newsTitle mt-2 ">Trước khi đại chiến diễn ra, hãy cùng tìm hiểu về nguồn gốc cũng như sức mạnh của Godzilla - nhân vât chính của trận chiến choáng ngợp sắp tới nhé.</p>
        <div class="row icon">
                <img class="mb-2 icon__img" src="./../../../../assets/images/like.png" alt="">
                <p class="pr-2">0</p>
                <img class="mb-2 icon__img" src="./../../../../assets/images/comment.png" alt="">
                <p>0</p>
        </div>
    </div>

</div>

