@import "../../../../../scss/style.scss";
.ChonGhe {
  width: 100%;

  .ChonGhe__LifeCycle {
    height: 82px;
    width: 100%;
    background-color: rgb(245, 247, 224);

    ul {
      display: flex;

      li {
        list-style-type: none;
        align-items: center;
        position: relative;

        i {
          font-size: 22px;
          color: rgb(59, 58, 58);
          line-height: 82px;
          margin-right: 40px;
          cursor: pointer;
        }

        a {
          text-decoration: none;
          line-height: 82px;
          cursor: no-drop;
          font-size: 13px;
          font-weight: 500;
          color: rgb(59, 58, 58);
          padding: 0 30px;

          span {
            font-size: 19px;
          }
        }
        .active {
          color: rgb(250, 93, 65);
          &::after {
            content: "";
            position: absolute;
            top: 80%;
            left: 0%;
            height: 2px;
            width: 100%;
            background-color: red;
          }
        }
      }
    }
  }
  .content__ChonGhe {
    height: 680px;
    display: flex;
    background-color: rgb(167, 144, 144);
    .choose__content {
      background-color: rgb(247, 247, 244);
      background-size: cover;
      background-repeat: no-repeat;
      height: 100%;

      position: relative;
      .doiTac {
        margin-left: 83px;
        margin-top: 0.5%;
        margin-bottom: 3%;
        .doitac_img {
          width: 57px;
          height: 57px;
          margin-top: 20px;
          margin-right: 15px;
        }
        .name_doitac {
          font-size: 15px;
          font-weight: 400;
          color: rgb(232, 82, 55);
        }
        .name_address {
          font-size: 12px;
          font-weight: 400;
          color: rgb(105, 88, 32);
        }
        .ChiTietPhim {
          position: absolute;
          top: 9%;
          left: 16%;

          .ChiTiet {
            font-size: 13px;
            font-weight: 400;
          }
        }
      }
      .screen {
        margin-bottom: 94px;
        .screen__display {
          margin: 0 auto;
          width: 80%;
          height: 8px;
          img {
            width: 100%;
            border-radius: 10px;
          }
        }

        .title {
          font-size: 14px;
          font-weight: 500;
          text-align: center;
          letter-spacing: 2px;
          word-spacing: 2px;
          margin-top: 10px;
        }
      }
      .DanhSachcGhe {
        width: 94%;
        margin: 0 auto;

        .letter {
          margin-top: 13px;
          margin-bottom: 30px;
          font-size: 16px;
          text-align: center;
          color: rgb(12, 10, 10);
          font-weight: 400;
        }
        .gheNgoi {
          margin-bottom: 80px;
        }

        .notes {
          margin: 0 auto;
          display: flex;
          .gheTrong {
            display: flex;
            .icon {
              width: 12px;
              height: 12px;
              background-color: white;
              border: 1px solid rgb(250, 93, 65);
              border-radius: 2px;
              margin-right: 4px;
            }
            .title {
              font-size: 11px;
              font-weight: 400;
            }
          }
          .gheDangChon {
            display: flex;
            .icon {
              width: 12px;
              height: 12px;
              background-color: rgb(250, 93, 65);
              border: 1px solid white;
              border-radius: 2px;
              margin-right: 4px;
            }
            .title {
              font-size: 11px;
              font-weight: 400;
            }
          }
          .gheKhongTheChon {
            display: flex;
            .icon {
              width: 12px;
              height: 12px;
              background-color: rgb(187, 13, 13);
              border: 1px solid rgb(250, 93, 65);
              border-radius: 2px;
              margin-right: 4px;
            }
            .title {
              font-size: 11px;
              font-weight: 400;
            }
          }
        }
      }
    }
    .result_content {
      background-image: url("../../../../../assets/images/bokeh-lights-black-background_23-2147955985.jpg");
      width: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      height: 100%;

      .content_tongtienve {
        color: rgb(137, 194, 5);
        width: 100%;
        height: 75px;
        border-bottom: 1px dotted rgb(85, 84, 84);

        .money__total {
          color: rgb(120, 170, 4);
          font-size: 33px;
          font-weight: 600;
          line-height: 75px;
        }
      }

      .content_ChiTietVe {
        width: 100%;
        border-bottom: 1px dotted rgb(85, 84, 84);
        margin-top: 15px;
        .name {
          color: rgb(44, 44, 44);
          font-weight: 500;
          font-size: 16px;
        }

        .name_doitac {
          color: rgb(44, 44, 44);
          font-weight: 400;
          font-size: 13px;
        }
        .ChiTietPhim {
          margin-bottom: 15px;
          .ChiTiet {
            color: rgb(44, 44, 44);
            font-weight: 400;
            font-size: 13px;
          }
        }
      }
      .content_ghengoi {
        width: 100%;
        height: 60px;
        border-bottom: 1px dotted rgb(85, 84, 84);
        .ghengoi {
          display: flex;
          margin-bottom: 15px;

          .title {
            color: rgb(250, 93, 65);
            font-size: 16px;
            font-weight: 500;
            padding: 0;
            line-height: 60px;
          }
          .gheDat {
            line-height: 60px;
            display: flex;

            .itemGhe {
              color: rgb(250, 93, 65);
              font-size: 13px;
              font-weight: 500;
              padding-right: 2px;
              max-height: 60px;
              margin: auto 0;
            }
          }
          .tongTienGhe {
            color: rgb(13, 71, 1);
            font-size: 16px;
            font-weight: 500;
            line-height: 60px;
          }
        }
      }
      .content_Combo {
        display: flex;
        width: 100%;
        height: 60px;
        border-bottom: 1px dotted rgb(85, 84, 84);

        .Combo_Left {
          display: flex;

          padding: 0;
          img {
            width: 15px;
            height: 20px;
            background-repeat: no-repeat;
            background-size: cover;
            line-height: 60px;
            margin: auto 0;
            cursor: pointer;
            transition: 2s;
            animation-name: chuyenDong;
            animation-duration: 1.4s;
            animation-iteration-count: infinite;
          }
          @keyframes chuyenDong {
            from {
              width: 13px;
              height: 18px;
            }
            to {
              width: 18px;
              height: 26px;
            }
          }
          .title {
            font-size: 13px;
            font-weight: 400;
            padding: 0;
            line-height: 60px;
            padding-left: 7px;
            animation-name: chuyenDongFont;
            animation-duration: 1.4s;
            animation-iteration-count: infinite;
          }
          @keyframes chuyenDongFont {
            from {
              font-size: 11px;
            }
            to {
              font-size: 14px;
              color: rgb(34, 31, 31);
            }
          }
        }

        .combo {
          height: 100%;

          .item__combo {
            color: rgb(13, 71, 1);
            font-size: 16px;
            font-weight: 500;
            line-height: 60px;
          }
        }
      }

      .datVe {
        position: absolute;
        bottom: 0.5%;
        left: 0%;
        padding: 0;
        width: 100%;
        height: 60px;
        transition: 0.1s;
        cursor: pointer;

        .datVe_btn {
          background-color: rgb(250, 93, 65);
          line-height: 60px;

          .datVe__title {
            color: white;
            font-size: 20px;
            font-weight: 500;
            letter-spacing: 1px;
            word-spacing: 1px;
          }
        }

        &:hover {
          height: 57px;
        }
        &:active {
          height: 64px;
        }
      }
    }
  }
  .anhien {
    background-image: url("../../../../../assets/images/DTxhkhgVMAAL7QQ.jpg");
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 679px;
    position: absolute;
    top: 82px;
    left: 0%;
    padding: 0;

    .blur {
      width: 100%;
      height: 100%;
      background: linear-gradient(to bottom, rgba(2, 2, 2, 0.8), rgba(8, 8, 8, 0.8), rgba(48, 47, 43, 0.4));
      .under {
        width: 100%;
        height: 93px;
      }
      .close {
        width: 100%;
        height: 60px;

        .close_content {
          height: 40px;
          float: right;
          width: 40px;
          cursor: pointer;
          border: 1px orange solid;
          text-align: center;
          margin-right: 20px;
          border-radius: 3px;
          .close_btn {
            font-size: 25px;
            font-weight: 500;
            color: white;
            padding: 5px;
          }
        }
      }

      .chonCombo {
        width: 84%;
        height: 90px;
        border-bottom: 1px solid rgb(110, 109, 109);
        margin: 0 auto;
        line-height: 83px;
        .typeticket {
          padding: 0px;
          display: flex;
          position: relative;
          .img {
            // position: absolute;
            width: 50px;
            height: 50px;
            line-height: 90px;
            margin: auto 0;
          }

          .title {
            position: absolute;
            top: -2%;
            left: 20%;
            cursor: pointer;
            color: white;
            font-size: 16px;
            font-weight: 500;
          }
          .gia {
            position: absolute;
            top: 10%;
            left: 0%;

            font-size: 9px;
            font-weight: 300;
            color: rgb(250, 93, 65);
          }
          .plus {
            position: absolute;
            top: 20%;
            left: 20%;
            color: white;
            font-size: 10px;
          }
        }

        .priceticketmobile {
          text-align: center;
          font-size: 18px;
          font-weight: 500;
          color: white;
        }
        .opnum {
          text-align: right;
          padding: 0;
          .count {
            font-size: 28px;
            color: rgb(250, 93, 65);
            cursor: pointer;
          }
          .soLuong {
            border: 1px solid rgb(150, 149, 149);
            border-radius: 4px;
            padding: 3px;
            color: white;
          }
        }
      }
    }
  }
  .login {
    position: absolute;
    top: 0%;
  }
}
