<div class="container DangKy" *ngIf="anDangKy">
  <div class="blur">
    <div class="form">
      <div class="dangky">
        <a class="display-4 title active">Đăng ký</a>
      </div>
      <div class="hr mx-3"></div>
      <div class="dangNhap">
        <a class="display-4 title" (click)="HienThiDangNhap()">Đăng nhập</a>
       
      </div>
    </div>

    <form #formDangKy="ngForm" class="formDK">
      <div class="row hoten">
        <div class="col-md-6 ">
          <div class="form-group ">
            <div class="input-group">
              <input type="text" class="form-control" #Ho="ngModel" placeholder="Họ" name="Ho" ngModel required>

            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group ">
            <div class="input-group ">
              <input type="text" class="form-control" #Ten="ngModel" placeholder="Tên" name="Ten" ngModel required>

            </div>
          </div>
        </div>
      </div>

      <div class="row TaiKhoan">
        <div class="col-md-12 ">
          <div class="input-group">
            <input type="text" class="form-control" minlength="5" maxlength="15" #TaiKhoan="ngModel"
              placeholder="Tài khoản" name="TaiKhoan" ngModel required>
            <div *ngIf="TaiKhoan.errors && (TaiKhoan.dirty || TaiKhoan.touched)">
              <!-- Kiểm tra rỗng -->
              <div *ngIf="TaiKhoan.errors.required" class="alert alert-danger">
                Tài khoản rỗng!
              </div>

              <!-- Kiểm tra độ dài -->
              <div *ngIf="TaiKhoan.errors.minlength || TaiKhoan.errors.maxlength" class="alert alert-danger">
                Độ dài ký tự phải từ 5- 15!
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row Password">
        <div class="col-md-6 ">
          <div class="form-group ">
            <div class="input-group">
              <input type="password" class="form-control" pattern="(?=.*\d)\w+.{6,}" onchange="form.pwd2.pattern = this.value;"
                #MatKhau="ngModel" placeholder="Mật khẩu" name="MatKhau" ngModel required>
              <div *ngIf="MatKhau.errors && (MatKhau.dirty || MatKhau.touched)">
                <!-- Kiểm tra rỗng -->
                <div *ngIf="MatKhau.errors.required" class="alert alert-danger">
                  Mật khẩu rỗng!
                </div>

                <!-- Kiểm tra độ dài -->
                <div *ngIf="MatKhau.errors.pattern" class="alert alert-danger">
                  Mật khẩu phải chứa tối thiểu 6 ký tự và ít nhất  1 chữ số!
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group ">
            <div class="input-group ">
              <input type="password" class="form-control Password_Conf" #NhapLaiMatKhau="ngModel" placeholder="Nhập lại mật khẩu"
                name="NhapLaiMatKhau" ngModel required>
            </div>
          </div>
        </div>
      </div>

      <div class="row Email">
        <div class="col-md-12 ">
          <div class="input-group">
            <input type="text" class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" #Email="ngModel"
              placeholder="Email" name="Email" ngModel required>
            <div *ngIf="Email.errors && (Email.dirty || Email.touched)">
              <!-- Kiểm tra Email rỗng -->
              <div *ngIf="Email.errors.required" class="alert alert-danger">
                Email rỗng!
              </div>
              <!-- Kiểm tra định dạng Email -->
              <div *ngIf="Email.errors.pattern" class="alert alert-danger">
                Email chưa đúng định dạng!
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row Date">
        <div class="col-md-12 ">
          <div class="input-group">
            <input type="date" class="form-control" #NgaySinh="ngModel" placeholder="Ngày sinh" name="NgaySinh" ngModel
              required>
          </div>
        </div>
      </div>
      <div class="row SoDienThoai">
        <div class="col-md-12 ">
          <div class="input-group">
            <input type="text" class="form-control" #SoDienThoai="ngModel" placeholder="Số điện thoại"
              name="SoDienThoai" ngModel required>
          </div>
        </div>
      </div>

      <div class="DangKy">
        <button type="submit" class="btn btn_DangKy form-control" (click)="DangKy(formDangKy.value)">Đăng ký</button>
      </div>
      <p class="display-4 comeBack" (click)="anDangKy = false"><i class="fa fa-repeat" aria-hidden="true"></i> Quay lại
      </p>

    </form>

  </div>
</div>
<app-login *ngIf="anHienDN"></app-login>