@import "../../../scss/style.scss";
.DangKy {
  position: fixed;
  width: 400px;
  z-index: 5;
  height: 800px;
  background-image: url("./../../../assets/images/blue-label-overlap-dark-grey-metallic-background_33869-1240.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;

  .blur {
    width: 100%;
    height: 800px;
    background-color: rgba(27, 27, 27, 0.5);

    .form {
      padding: 18px;
      display: flex;
      .dangNhap {
        &::before {
          width: 233%;
          content: "";
          height: 100%;
          position: absolute;
          top: 0%;
          left: 100%;
          background-color: rgba(11, 11, 11, 0.8);
        }
        .title {
          font-size: 16px;
          font-weight: 400;
          color: white;
          word-spacing: 1px;
          transition: 0.2s;
          cursor: pointer;
          &:hover {
            font-size: 16px;
            color: rgb(250, 93, 65);
            font-size: 18px;
          }
        }
      }
      .dangky {
        .title {
          font-size: 20px;
          font-weight: 400;
          color: rgb(250, 93, 65);
          word-spacing: 1px;
          transition: 0.2s;
          cursor: pointer;
          &:hover {
            color: rgb(250, 93, 65);
            font-size: 20px;
          }
        }
      }

      .hr {
        width: 1px;
        height: 22px;
        background-color: rgb(170, 167, 167);
      }
    }

    .formDK {
      padding: 0px 15px;
      margin-top: 4%;
      .alert {
        position: absolute;
        padding: 4px;
        top: 110%;
        left: 0%;
        font-size: 13px;
      }
      .hoten {
        margin-top: 13px;
        display: flex;
        input {
          border: none;
          border-radius: 0px;
          background-color: transparent;
          border-bottom: 1px solid white;
          color: white;
          position: relative;

          &:focus {
            box-shadow: 0 0 0 0 transparent;
          }
          &::placeholder {
            color: rgb(214, 212, 212);
            font-weight: 100;
            font-size: 13px;
          }
        }
      }
      .TaiKhoan {
        margin-top: 30px;
        display: flex;
        input {
          border: none;
          border-radius: 0px;
          background-color: transparent;
          border-bottom: 1px solid white;
          color: white;

          &:focus {
            box-shadow: 0 0 0 0 transparent;
          }
          &::placeholder {
            color: rgb(214, 212, 212);
            font-weight: 100;
            font-size: 13px;
          }
        }
      }
      .Password {
        margin-top: 47px;
        display: flex;
        input {
          border: none;
          border-radius: 0px;
          background-color: transparent;
          border-bottom: 1px solid white;
          color: white;

          &:focus {
            box-shadow: 0 0 0 0 transparent;
          }
          &::placeholder {
            color: rgb(214, 212, 212);
            font-weight: 100;
            font-size: 13px;
          }
        }
      }
      .Email {
        margin-top: 30px;
        display: flex;
        input {
          border: none;
          border-radius: 0px;
          background-color: transparent;
          border-bottom: 1px solid white;
          color: white;

          &:focus {
            box-shadow: 0 0 0 0 transparent;
          }
          &::placeholder {
            color: rgb(214, 212, 212);
            font-weight: 100;
            font-size: 13px;
          }
        }
      }
      .Date {
        margin-top: 50px;
        display: flex;
        input {
          border: none;
          border-radius: 0px;
          background-color: transparent;
          border-bottom: 1px solid white;
          color: white;

          &:focus {
            box-shadow: 0 0 0 0 transparent;
          }
          &::placeholder {
            color: rgb(214, 212, 212);
            font-weight: 100;
            font-size: 13px;
          }
        }
      }
      .SoDienThoai {
        margin-top: 50px;
        display: flex;
        input {
          border: none;
          border-radius: 0px;
          background-color: transparent;
          border-bottom: 1px solid white;
          color: white;

          &:focus {
            box-shadow: 0 0 0 0 transparent;
          }
          &::placeholder {
            color: rgb(214, 212, 212);
            font-weight: 100;
            font-size: 13px;
          }
        }
      }
      .DangKy {
        margin-top: 74px;
        width: 140px;
        height: 40px;

        border: 1px solid white;
        border-radius: 5px;

        margin-left: 6%;
        .btn_DangKy {
          background-color: rgb(250, 93, 65);
          background-size: cover;
          color: white;
          font-weight: 500;
          border: 1px solid rgb(250, 93, 65);
          transition: 0.5s;
          &:hover {
            background-color: rgb(67, 142, 186);
            color: white;
            border: 1px solid white;
          }
        }
      }
      .comeBack {
        margin-top: 36%;
        margin-left: 68%;
        color: rgb(67, 142, 186);
        font-size: 13px;
        font-weight: 400;
        cursor: pointer;
        transition: 0.3s;
        i {
          font-size: 15px;
          padding-right: 3px;
        }
        &:hover {
          color: rgb(250, 250, 250);
        }
      }
    }
  }
}
