@import "../../../../scss/style.scss";
.ChonLoaiPhim {
  background-image: url("../../../../assets/images/old-grunge-cement-wall-backgrounds_34552-195.jpg");
  display: flex;
  border: 2px solid orange;
  border-bottom: 0px;
  border-radius: 5px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  width: 60%;
  margin: 0 auto;
  justify-content: center;
  padding: 22px 0 10px 0;
  .active:active {
    border: 1px white solid;
  }
  .btn_phim:hover {
    border: 1px white solid;
  }
}
.loaiPhim {
  background-image: url("../../../../assets/images/night-shining-starry-sky-copy-space_23-2148227230.jpg");
  background-size: cover;
  background-repeat: repeat;
  border: 2px solid orange;

  width: 100%;
  height: 620px;
  overflow-y: scroll;
}
