<div class="container-fluid trangchu">

    <router-outlet></router-outlet>

    <div class="dexuat">
        <app-carousel></app-carousel>
        <div class="container">
            <div class="dexuat_box">
                <p class="box_title">Phim Đề Xuất</p>

            </div>
        </div>

    </div>


    <div class="container-fluid mt-4 content_DeXuat">
        <div class="container  list_DeXuat">
            <app-list-de-xuat></app-list-de-xuat>
        </div>
    </div>
    <div class="container p-0 LoaiPhim">

        <app-loai-phim></app-loai-phim>
    </div>
</div>

<div class="">
    <app-tin-tuc></app-tin-tuc>
</div>



<div class="container-fluid app">
    <div class="container app__content ">
        <app-phone-app></app-phone-app>
    </div>
</div>
<app-modal></app-modal>