@import "../../../../../scss/style.scss";
.TrangCaNhan {
  width: 100%;
  height: 965px;
  background-color: rgb(253, 252, 252);
  padding: 0;

  .menu {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    .myBtn {
      width: 50px;
      height: 50px;

      background-color: rgb(245, 204, 204);

      i {
        font-size: 16px;
      }
    }

    .menu__TrangCaNhan {
      background-color: rgba(216, 216, 215, 0.5);
      height: 100%;
      padding: 0px;
      ul {
        padding: 0px;
      }
      li {
        list-style-type: none;
        cursor: pointer;
        height: 75px;
        border-bottom: 1px solid rgba(238, 99, 57, 0.8);

        &:hover .title_thaoTac {
          font-size: 17px;
          color: rgba(204, 52, 5, 0.8);
        }
      }
      a {
        line-height: 75px;
        padding-left: 15px;
      }
      .trangThaiBg {
        background-color: rgba(248, 246, 245, 0.1);
      }
      .trangThaiColor {
        font-size: 17px;
      }
      .title_thaoTac {
        color: rgba(5, 5, 5, 0.8);
        font-size: 16px;
        font-weight: 400;
      }
      .active {
        color: rgba(5, 5, 5, 0.6);
        font-size: 17px;
        font-weight: 400;
      }
    }
    .ThongTinCaNhan {
      height: 100%;
      padding: 0px;

      .user {
        display: flex;
        height: 200px;
        margin: 10px 0px 30px 0px;

        .user_avata {
          height: 100%;
          transition: 1s;
          padding: 0;

          i {
            font-size: 120px;

            position: relative;
            transition: 0.5s;
            padding-left: 39px;

            color: rgb(243, 157, 99);

            &:hover .blur {
              display: block;
            }
            .blur {
              width: 120px;
              height: 121px;
              background-color: rgba(11, 11, 11, 0.4);
              position: absolute;
              top: -1px;
              left: 39px;
              border-radius: 50%;
              display: none;

              .thayDoi {
                position: absolute;
                color: rgb(238, 237, 237);
                top: 78px;
                left: 35px;
                font-size: 15px;
                font-weight: 400;
                cursor: pointer;
              }
            }
          }
          .title_name {
            font-size: 16px;
            font-weight: 600;
            padding-left: 48px;
            margin-top: 10px;
            color: rgb(243, 109, 20);
          }
          .title_note {
            font-size: 12px;
            font-weight: 300;
            padding-left: 46px;
            margin-top: 9px;
            color: rgba(22, 22, 22, 0.5);
          }
        }
        .code {
          padding: 0px;

          .thanhVien_code {
            padding-top: 18px;
            font-size: 14px;
            font-weight: 600;
            margin-bottom: 3px;
            color: rgb(243, 109, 20);
          }
          .img__code {
            margin-top: 5px;
            width: 60%;
            height: 90px;
            display: block;
            margin: 0px auto;
          }
        }
      }
      .table_theThanhVien {
        height: 113px;

        .table_user {
          width: 92%;
          height: 108px;
          background-color: #fff;
          margin: 0 auto;
          border: 1px solid gray;
          border-radius: 20px;

          .content__user {
            width: 35%;
            height: 90%;
            margin: 1% 0% 0% 3%;
            height: 85%;
            border-right: 1px solid gray;
            label {
              font-size: 13px;
              font-weight: 500;
              width: 42%;
            }
            span {
              font-size: 13px;
              font-weight: 400;
            }
          }
          .content__gift {
            width: 19.5%;
            height: 90%;
            margin: 1% 0% 0% 1%;
            height: 85%;
            border-right: 1px solid gray;
            text-align: center;
            label {
              font-size: 13px;
              font-weight: 500;
            }
            .item__number {
              font-size: 13px;
              font-weight: 400;
              padding-top: 10px;
            }
          }
          .content__voucher {
            width: 19.5%;
            height: 90%;
            margin: 1% 0% 0% 1%;
            height: 85%;
            border-right: 1px solid gray;
            text-align: center;
            label {
              font-size: 13px;
              font-weight: 500;
            }
            .item__number {
              font-size: 13px;
              font-weight: 400;
              padding-top: 10px;
            }
          }
          .content__theThanhVien {
            width: 19.5%;
            height: 90%;
            margin: 1% 0% 0% 1%;
            height: 85%;
            text-align: center;
            label {
              font-size: 13px;
              font-weight: 500;
            }
            .item__number {
              font-size: 13px;
              font-weight: 400;
              padding-top: 10px;
            }
          }
        }
      }

      .chiTietThongTin {
        height: 287px;
        margin-bottom: 270px;
        .title {
          color: black;
          font-size: 16px;
          font-weight: 500;
          padding-left: 33px;
          padding-bottom: 6px;
          padding-top: 65px;
        }
        .hr {
          width: 92%;
          height: 1px;
          margin: 0 auto;
          background: linear-gradient(to right, #6d1321, #f73656);
        }
        .box {
          width: 100%;
          height: 246px;
          background-color: #fff;
          .box__title {
            padding-top: 5px;
            .title-my-cgv {
              color: black;
              font-size: 15px;
              font-weight: 400;
              padding-left: 36px;
              padding-right: 179px;
            }
            .btn__thayDoi {
              color: black;
              font-size: 13px;
              font-weight: 300;
              padding: 2px 12px;
              background-color: rgb(243, 109, 20);
              transition: 0.34;
              // padding-left: 33px;

              &:hover {
                color: rgb(240, 239, 239);
              }
            }
            .title-item {
              width: 23%;
              display: inline-block;
              color: black;
              font-size: 15px;
              font-weight: 400;
              padding-left: 36px;
              padding-right: 61px;
            }

            .chitiet {
              color: black;
              font-size: 14px;
              font-weight: 400;
              padding: 2px;
            }
          }
        }
      }
    }
    .ChiTietTaiKhoan {
      background-color: rgb(247, 248, 247);
      margin-bottom: 270px;
      padding: 0px;
      height: 94.8%;
      .slogan {
        font-size: 20px;
        font-weight: 500;
        padding-left: 17px;
        padding-top: 20px;
      }
      .hr {
        position: absolute;
        top: 47px;
        left: 2%;
        width: 95%;
        height: 1.2px;
        // margin: 0 auto;
        background-color: rgb(245, 143, 27);
      }
      .formDK {
        padding: 0px 15px;
        margin-top: 4%;

        .TaiKhoan {
          width: 80%;
          padding-top: 40px;
          margin: 0 auto;
          display: flex;

          i {
            padding-top: 11px;
            font-size: 20px;
          }
          input {
            width: 80%;
            border: none;
            margin-left: 6px;
            padding-left: 20px;
            border-radius: 0px;
            background-color: transparent;
            border-bottom: 1px solid rgb(247, 174, 90);
            border-bottom: 1px solid rgb(0, 0, 0);
            color: rgb(71, 68, 68);
            transition: 0.2s;

            &:focus {
              box-shadow: 0 0 0 0 transparent;
              border-bottom: 1.2px solid rgb(247, 174, 90);
            }
            &::placeholder {
              color: rgb(105, 103, 103);
              font-weight: 100;
              font-size: 13px;
            }
          }
        }
        .Password {
          width: 80%;
          padding-top: 50px;
          margin: 0 auto;
          display: flex;

          i {
            padding-top: 11px;
            font-size: 20px;
          }
          input {
            width: 80%;
            border: none;
            margin-left: 6px;
            padding-left: 20px;
            border-radius: 0px;
            background-color: transparent;
            border-bottom: 1px solid rgb(247, 174, 90);
            border-bottom: 1px solid rgb(0, 0, 0);
            color: rgb(71, 68, 68);
            transition: 0.2s;

            &:focus {
              box-shadow: 0 0 0 0 transparent;
              border-bottom: 1.2px solid rgb(247, 174, 90);
            }
            &::placeholder {
              color: rgb(105, 103, 103);
              font-weight: 100;
              font-size: 13px;
            }
          }
        }
        .PasswordRe {
          width: 80%;
          padding-top: 37px;
          margin: 0 auto;
          display: flex;

          i {
            padding-top: 11px;
            font-size: 20px;
          }
          input {
            width: 80%;
            border: none;
            margin-left: 6px;
            padding-left: 20px;
            border-radius: 0px;
            background-color: transparent;
            border-bottom: 1px solid rgb(247, 174, 90);
            border-bottom: 1px solid rgb(0, 0, 0);
            color: rgb(71, 68, 68);
            transition: 0.2s;

            &:focus {
              box-shadow: 0 0 0 0 transparent;
              border-bottom: 1.2px solid rgb(247, 174, 90);
            }
            &::placeholder {
              color: rgb(105, 103, 103);
              font-weight: 100;
              font-size: 13px;
            }
          }
        }
        .Email {
          width: 80%;
          padding-top: 35px;
          margin: 0 auto;
          display: flex;

          i {
            padding-top: 11px;
            font-size: 18px;
          }
          input {
            width: 80%;
            border: none;
            margin-left: 6px;
            padding-left: 20px;
            border-radius: 0px;
            background-color: transparent;
            border-bottom: 1px solid rgb(247, 174, 90);
            border-bottom: 1px solid rgb(0, 0, 0);
            color: rgb(71, 68, 68);
            transition: 0.2s;

            &:focus {
              box-shadow: 0 0 0 0 transparent;
              border-bottom: 1.2px solid rgb(247, 174, 90);
            }
            &::placeholder {
              color: rgb(105, 103, 103);
              font-weight: 100;
              font-size: 13px;
            }
          }
        }
        .SoDienThoai {
          width: 80%;
          padding-top: 55px;
          margin: 0 auto;
          display: flex;

          i {
            padding-top: 11px;
            font-size: 21px;
          }
          input {
            width: 80%;
            border: none;
            margin-left: 6px;
            padding-left: 20px;
            border-radius: 0px;
            background-color: transparent;
            border-bottom: 1px solid rgb(247, 174, 90);
            border-bottom: 1px solid rgb(0, 0, 0);
            color: rgb(71, 68, 68);
            transition: 0.2s;

            &:focus {
              box-shadow: 0 0 0 0 transparent;
              border-bottom: 1.2px solid rgb(247, 174, 90);
            }
            &::placeholder {
              color: rgb(105, 103, 103);
              font-weight: 100;
              font-size: 13px;
            }
          }
        }
        .CapNhat {
          width: 100%;
          margin-top: 73px;

          .btn_CapNhat {
            display: block;
            margin: 0 auto;
            padding: 7px 40px;
            background-color: rgb(252, 142, 122);
            background-size: cover;
            color: rgb(248, 246, 246);
            font-weight: 500;
            border: 1px solid rgb(250, 93, 65);
            transition: 0.5s;
            &:hover {
              background-color: rgb(250, 93, 65);
              color: white;
              border: 1px solid rgb(250, 93, 65);
            }
          }
        }
      }
    }
    .LichSuDatVe {
      max-height: 814px;
      padding: 0px;
      overflow-y: scroll;
      margin-bottom: 720px;
      height: 94.8%;

      .slogan {
        font-size: 21px;
        font-weight: 500;
        padding-left: 24px;
        padding-top: 20px;
      }
      .hr {
        position: absolute;
        top: 47px;
        left: 2%;
        width: 95%;
        height: 1.2px;

        background-color: rgb(185, 103, 8);
      }
      th {
        border-bottom: 2px solid black;

        background-color: rgba(250, 193, 156, 0.3);
      }
    }
  }
}
