<div class="container TrangCaNhan">
  <div class="row menu">
    <div>
      <button class="navbar-toggler myBtn" (click)="AnHien()" type="button" data-toggle="collapse"
        data-target="#collapsibleNavbar2">
        <i class="display-4 fa fa-bars" aria-hidden="true"></i>

      </button>
    </div>
    <div class="collapse navbar-collapse " id="collapsibleNavbar2" *ngIf="anHien">
      <div class="col-md-12 menu__TrangCaNhan " (click)="AnHien()">
        <ul class="navbar-nav">
          <li [ngClass]="{trangThaiBg:TrangThaitrangcanhan, trangThaiColor: TrangThaitrangcanhan }"
            (click)="ChonThaoTac('trangcanhan')"> <a class="display-4 title_thaoTac ">Thông tin cá nhân</a></li>
          <li [ngClass]="{trangThaiBg:TrangThaichitiettaikhoan,trangThaiColor:TrangThaichitiettaikhoan}"
            (click)="ChonThaoTac('chitiettaikhoan')"> <a class="display-4 title_thaoTac">Chỉnh sửa thông tin</a></li>
          <li [ngClass]="{trangThaiBg:TrangThailichsudatve,trangThaiColor:TrangThailichsudatve}"
            (click)="ChonThaoTac('lichsudatve')"> <a class="display-4 title_thaoTac">Lịch sử đặt vé</a></li>

        </ul>

      </div>
    </div>

    <div class="col-md-12 ThongTinCaNhan" *ngIf="TrangCaNhan">
      <div class="user">
        <div class=" col-md-7 col-sm-8 user_avata pt-3">
          <i class="fa fa-user-circle " aria-hidden="true">
            <div class="blur">
              <p class="display-4 thayDoi">Thay đổi</p>

            </div>
          </i>
          <div class="display-4 title_name">
            Xin chào {{TaiKhoan}}
          </div>
          <div class="display-4 title_note">
            *Với trang này, bạn sẽ quản lý được tất cả thông tin, <br> tài khoản của mình.
          </div>

        </div>
        <div class="col-md-5 col-sm-4  code">
          <p class="display-4 thanhVien_code text-center">Thẻ thành viên</p>
          <img class="img__code" src="./../../../../../assets/images/ma_vach_gtin_14_container.jpg" alt="">

        </div>

      </div>
      <div class="table_theThanhVien">
        <div class="row table_user">
          <div class="content__user">
            <div class="cgv-tier">
              <label>Cấp Độ Thẻ</label>
              <span>

                Member
              </span>
            </div>
            <div class="cgv-point total-spending">
              <div class="format-acc-point">
                <label>Tổng Chi Tiêu</label>
                <span class="acc-show-point">
                  1.739.000 đ </span>
              </div>
            </div>
            <div class="cgv-point">
              <div class="format-acc-point">
                <label>Điểm CGV</label>
                <span class="acc-show-point">
                  17 P </span>
              </div>
            </div>
          </div>
          <div class="content__gift">
            <label>Thẻ quà tặng</label>
            <p class="item__number">0 đ</p>

          </div>
          <div class="content__voucher">
            <label>Voucher</label>
            <p class="item__number">0</p>
          </div>
          <div class="content__theThanhVien">
            <label>Thẻ thành viên</label>
            <p class="item__number">1</p>
          </div>


        </div>
      </div>
      <div class="chiTietThongTin">
        <div class="display-4 title">
          Thông tin tài khoản
        </div>
        <div class="hr"></div>
        <div class="box">
          <div class="box__title pt-3">
            <span class="display-4 title-my-cgv">Liên hệ</span>
            <button class="btn btn__thayDoi "> Thay đổi</button>
          </div>
          <div class="box__title">
            <span class="display-4 title-item">Tài khoản: </span>
            <span class="display-4 chitiet"> {{TaiKhoan}}</span>
          </div>
          <div class="box__title">
            <span class="display-4 title-item">Email: </span>
            <span class="display-4 chitiet"> {{Email}}</span>
          </div>
          <div class="box__title">
            <span class="display-4 title-item">Số điện thoại: </span>
            <span class="display-4 chitiet"> {{SoDienThoai}}</span>
          </div>


        </div>

      </div>

    </div>
    <div class="col-md-12 ChiTietTaiKhoan" *ngIf="ChiTietTaiKhoan">

      <p class="display-4 slogan">Chỉnh sửa thông tin tài khoản</p>
      <div class="hr"></div>
      <form #formDangKy="ngForm" class="formDK">
        <div class="row TaiKhoan">
          <div class="col-md-12 ">
            <div class="input-group">
              <i class="fa fa-user" aria-hidden="true"></i>
              <input type="text" id="TaiKhoan" class="form-control" minlength="1" maxlength="7" #TaiKhoan="ngModel"
                placeholder="Tài khoản" value={{userForm.TaiKhoan}} name="TaiKhoan" ngModel required>
            </div>
          </div>
        </div>

        <div class="row Password">
          <div class="col-md-12 ">
            <div class="form-group ">
              <div class="input-group">
                <i class="fa fa-lock" aria-hidden="true"></i>
                <input type="password" class="form-control" #MatKhau="ngModel" placeholder="Mật khẩu" name="MatKhau"
                  ngModel required>
              </div>
            </div>
          </div>

        </div>
        <div class="row PasswordRe">
          <div class="col-md-12">
            <div class="form-group ">
              <div class="input-group ">
                <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                <input type="password" class="form-control" #NhapLaiMatKhau="ngModel" placeholder="Nhập lại mật khẩu"
                  name="NhapLaiMatKhau" ngModel required>
              </div>
            </div>
          </div>
        </div>

        <div class="row Email">
          <div class="col-md-12 ">
            <div class="input-group">
              <i class="fa fa-envelope" aria-hidden="true"></i>
              <input type="text" class="form-control" #Email="ngModel" placeholder="Email" name="Email" ngModel
                required>
            </div>
          </div>
        </div>
        <div class="row SoDienThoai">
          <div class="col-md-12 ">
            <div class="input-group">
              <i class="fa fa-phone-square" aria-hidden="true"></i>
              <input type="text" class="form-control" #SoDienThoai="ngModel" placeholder="Số điện thoại"
                name="SoDienThoai" ngModel required>
            </div>
          </div>
        </div>



        <div class="CapNhat">
          <button type="submit" class="btn btn_CapNhat" (click)="DangKy(formDangKy.value)">Cập nhật</button>
        </div>


      </form>


    </div>
    <div class="col-md-12 LichSuDatVe" *ngIf="LichSuDatVe">
      <p class="display-4 slogan">Lịch sử đặt vé xem phim </p>
      <div class="hr"></div>

      <table class="table table-hover table-striped ">
        <thead>
          <tr>
            <th>STT</th>
            <th>Tên phim</th>
            <th>Tên rạp</th>
            <th>Mã ghế</th>
            <th>Giờ đặt</th>
            <th>Ngày đặt</th>
            <th>Giá vé</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of PhimDaDat;  let i = index">
            <td>{{i+1}}</td>
            <td>{{item.TenPhim|slice: 0:17}}...</td>
            <td>{{item.Rap}}</td>
            <td>{{item.MaGhe}}</td>
            <td>{{item.NgayDat | date:"hh:mm"}}</td>
            <td>{{item.NgayDat | date:"dd-MM-yyyy"}}</td>
            <td>{{item.GiaVe | currency:"VND":" "}} VND</td>
          </tr>
        </tbody>
      </table>



    </div>
  </div>

</div>