<div class="row review" >

  <div class="col-md-6">
    <img class="mb-2" src="./../../../../assets/images/review_1.jpg" alt="">
    <a class="Title display-4 "
      href="https://123phim.vn/review/7511-review-mortal-engines-cuoc-chien-khoc-liet-voi-co-may-tu-than">
      [Review] Mortal Engines – Cuộc chiến khốc liệt với cỗ máy tử thần
    </a>
    <p class="newsTitle mt-2 ">Bom tấn có Peter Jackson sản xuất đưa khán giả vào cuộc chiến hậu tận thế với những thành
      phố di động với kỹ xảo cực kỳ mãn nhãn.</p>
      <div class="row icon">
          <img class="mb-2 icon__img" src="./../../../../assets/images/like.png" alt="">
          <p class="pr-2">0</p>
          <img class="mb-2 icon__img" src="./../../../../assets/images/comment.png" alt="">
          <p>0</p>
  </div>

  </div>
  <div class="col-md-6">
    <img class="mb-2" src="./../../../../assets/images/review_spider.jpg" alt="">
    <a class="Title display-4 "
      href="https://123phim.vn/review/6751-review-deadpool-2-fanboy-sieu-anh-hung-fanboy-phim-dau-boi-ca-ve-day">
      [Review] Deadpool 2 - Fanboy siêu anh hùng, fanboy phim đâu, bơi cả về đây!
    </a>
    <p class="newsTitle mt-2 ">Phần phim thứ 2 về gã phản anh hùng lắm mồm là một siêu phẩm giải trí chọc ngoáy đủ phim
      khiến bọn “cinephile” phát cuồng.</p>
      <div class="row icon">
          <img class="mb-2 icon__img" src="./../../../../assets/images/like.png" alt="">
          <p class="pr-2">0</p>
          <img class="mb-2 icon__img" src="./../../../../assets/images/comment.png" alt="">
          <p>0</p>
  </div>

  </div>

</div>

<div class="container">
  <div class="hr"></div>
</div>

<div class="row review mt-3">

  <div class="col-md-4">
    <img class="mb-2" src="./../../../../assets/images/review_supper.jpg" alt="">
    <a class="Title display-4 "
      href="https://123phim.vn/review/7707-review-captain-marvel-co-gai-co-doi-tay-vang-cua-lang-sieu-anh-hung">
      [Review] Captain Marvel - Cô gái có đôi tay vàng của làng siêu anh hùng
    </a>
    <p class="newsTitle mt-2 ">Captain Marvel là bước đệm an toàn cho siêu bom tấn Avengers: Endgame sắp ra mắt.</p>
    <div class="row icon">
        <img class="mb-2 icon__img" src="./../../../../assets/images/like.png" alt="">
        <p class="pr-2">0</p>
        <img class="mb-2 icon__img" src="./../../../../assets/images/comment.png" alt="">
        <p>0</p>
</div>
  </div>
  <div class="col-md-4">
    <img class="mb-2" src="./../../../../assets/images/review_papa.jpg" alt="">
    <a class="Title display-4 "
      href="https://123phim.vn/review/7569-review-hon-papa-da-con-gai-kaity-nguyen-chung-minh-thuc-luc-khi-hoa-ong-bo-tre-con">
      [Review] Hồn Papa, Da Con Gái - Khi gia đình là tất cả
    </a>
    <p class="newsTitle mt-2 ">Bộ phim Việt cuối cùng của năm 2018 cũng là một trong những cái tên được mong đợi nhất,
      và quả thực Hồn Papa Da Con Gái đã mang đến một câu chuyện vừa hài hước vừa xúc động về tình cha con.</p>
      <div class="row icon">
          <img class="mb-2 icon__img" src="./../../../../assets/images/like.png" alt="">
          <p class="pr-2">0</p>
          <img class="mb-2 icon__img" src="./../../../../assets/images/comment.png" alt="">
          <p>0</p>
  </div>
  </div>
  <div class="col-md-4">
    <img class="mb-2" src="./../../../../assets/images/review_buf.jpg" alt="">
    <a class="Title display-4 "
      href="https://123phim.vn/review/6147-review-ferdinand-chuyen-gi-se-xay-ra-khi-bo-co-cam-xuc">
      [Review] Ferdinand - Chuyện gì sẽ xảy ra khi bò có cảm xúc?
    </a>
    <p class="newsTitle mt-2 ">Năm nay, Disney cho ra mắt Coco với câu hỏi liệu... người Mexico có cảm xúc không thì đối
      thủ của họ lại đi tìm câu trả lời tương tự với loài... bò tót.</p>
      <div class="row icon">
          <img class="mb-2 icon__img" src="./../../../../assets/images/like.png" alt="">
          <p class="pr-2">0</p>
          <img class="mb-2 icon__img" src="./../../../../assets/images/comment.png" alt="">
          <p>0</p>
  </div>
  </div>

</div>